
<div class="home-page">

    <div class="banner">
      <div class="container">
        <h1 class="logo-font">sourcebits</h1>
        <p>A place to share your <i>Angular 2</i> knowledge.</p>
      </div>
    </div>
  
    <div class="container page">
      <div class="row">
  
        <div class="col-md-9">
          <div class="feed-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class="nav-link">
                   Your Feed
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                   Global Feed
                </a>
              </li>
            </ul>
          </div>
  
  
        </div>
  
        <div class="col-md-3">
          <div class="sidebar">
            <p>Popular Tags</p>
  
  
          </div>
        </div>
  
      </div>
    </div>
  </div>


<!-- <h2>Uppercase Pipe</h2>
<b>{{title | lowercase}}--{{title | uppercase}}</b><br/>


<h2>Currency Pipe</h2>
      <b>{{6589.23 | currency:"USD" :'code'}}</b><br/>
      <b>{{6589.23 | currency:"USD" :'code'}}</b><br/>
      <p>B: {{6589.222  | currency:'INR':'symbol':'3.2-2'}}</p>
      <b>{{6589.23 | currency:"INR":true}}</b> //Boolean true is used to get the sign of the currency.
      
      <p>A: {{6589.23 | currency}}</p>

      <p>B: {{b | currency:'INR':'symbol-narrow':'4.2-3'}}</p>
    

<H1>Today Date</H1>
{{todaydate }}
<H1>Jsone</H1>
{{jsonval }}

<H1>months </H1>
{{months }} -->
